archive/
.chainlit/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
dist/
build/
kg_filtered.csv
train.csv
test.csv
.mypy_cache/
.pytest_cache/
htmlcov/
coverage.xml
*.log
embeddings/rotate_data/triples.tsv
embeddings/rotate_data/test_triples.tsv
